body {
  font-family: Arial, sans-serif;
}

.menu {
  list-style: none;
  background-color: #303030;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu > li {
  position: relative;
}

.menu a:hover {
  background-color: #404040;
}

.menu a {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #404040;
  list-style: none;
  padding: 0;
  margin: 0;
}

.submenu li a {
  padding: 10px 20px;
}

.menu li:hover .submenu {
  display: block;
}